footer {  
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  
}

footer p {
  padding-top: 10rem;
  margin-top: 90px;
  margin-bottom: 30px;
  color: #c2c2c2;
}

.copyright {
  text-transform: uppercase;
}


@media all and (min-width: 1000px) {
  
    footer {
      justify-content: flex-start;
      align-items: flex-start;
      margin-left: 20px;
    }

}