footer {
  bottom: 50px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

footer p {
  margin-top: 80px;
  margin-bottom: 30px;
  color: #c2c2c2;
}


@media all and (min-width: 1000px) {
  
    footer {
      bottom: 50px;
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-items: flex-start;
      margin-left: 20px;
    }

}