
.main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin: 25px auto;

  @media #{$tablet} {
    display: grid;
    grid-template-columns: 1fr 5fr;    
    margin-left: 130px;  
  }

  @media #{$desktop} {
    display: grid;
    grid-template-columns: 1fr 5fr;    
    margin-left: 10px;
  }


  img {
    height: 300px;
  }
}

.instructions {
  margin-top: 20px;
  text-align: center;

  @media #{$tablet} {
    grid-column: 2 / 3;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    width: 160px;
    margin-left: 40px;
  }

  @media #{$desktop} {
    grid-column: 2 / 3;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    width: 180px;
    margin-left: 30px;
    padding-left: 30px; 
  }

  p {
    padding-bottom: 10px;
  }
}

.add-photos {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 10px auto;
  transition: all 1s ease-in-out 0s;

  @media #{$tablet} {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 40px;
  }

  @media #{$desktop} {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 130px;
  }

  img {
    height: 150px;

    @media #{$tablet} {
      height: 80px;
      margin-top: 10px;
      margin-left: 100px;
    }

    @media #{$desktop} {
      height: 80px;
      margin-top: 10px;
      margin-left: 0;
      margin-right: 20px;    
    }
  }
}
